@model List<Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Add New Product", "Add", null, new { @class = "btn-Default" })

<div class="container">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm())
            {
                <label>
                    Search
                </label>
                <input type="text" name="keyword" value="" />
                <input type="submit" name="name" value="Search" />
            }

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            @if (TempData["Message"] != null)
            {
                @TempData["Message"]
            }
            <table class="table table-bordered table-condensed table-responsive table-condensed">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Photo</th>
                        <th>Detail</th>
                        <th>Category ID</th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                   @foreach (var item in ViewBag.product)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Photo</td>
            <td>@item.Detail</td>
            <td>@item.CategoryId</td>
            


                            <td> @Html.ActionLink("edit", "edit", new { id = item.Id }) | @Html.ActionLink("delete", "delete", new { id = item.Id }) </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>
    </div>
</div>


